<div class="cf-dashboard-total-imp-clicks-section-content">
<span class="impression-text"><b>Total number of impressions :</b> <%= @impressions %> </span><br/>

<span class="clicks-text"><b>Total number of button clicks :</b> <%= @clicks %> </span>
</div>
