<div class="cf-generic-footer-content">
            <a href="home.html">About Us</a>

            <a href="bargain.html">FAQ</a>

            <a href="top5.html">Merchant Login</a>

            <a href="top5.html">Privacy Statement</a>

            <a href="top5.html">Speak to Us</a>
<!-- end cf-generic-footer-content --></div>

