<%= form_tag "/shared/index", :method => 'get'  do %>
<table>
  <tr>
  	<td><input name="query" id="cf-home-search-form-searchText" type="text" title="Enter your search query here to Find, compare and decide" placeholder="Enter Search Key" onFocus="setFocus()" onBlur="setNoFocus()"/></td>
  	<td><input  value="" type="Submit" id="cf-home-search-form-searchCompare" title="Click here to search"/></td>
  </tr>
</table>
<% end %>

