<div class="cf-aboutus-right-sidebar-section">
            	<span class="sidebar-number"><%=@books_count%></span><br/>
                <span class="sidebar-type">Books</span>
            </div>			
            <div class="sidebar-pad"></div>
            <div class="cf-aboutus-right-sidebar-section">
            	<span class="sidebar-number"><%=@mobiles_count%></span><br/>
                <span class="sidebar-type">Mobiles</span>
            </div>
            <div class="sidebar-pad"></div>
            <div class="cf-aboutus-right-sidebar-section">
            	<span class="sidebar-number"><%=@online_vendor_count%></span><br/>
                <span class="sidebar-type">Online Portals</span>
            </div>
            <div class="sidebar-pad"></div>
            <div class="cf-aboutus-right-sidebar-section-place">
            	<span class="sidebar-number"><%=@local_vendor_count%> +</span><br/>
                <span class="sidebar-type">shops near your place</span>
            </div>	
