<div class="cf-aboutus-overview">
            			<h2>What we believe - CrawlFish</h2>
            		</div>
           		<div class="cf-aboutus-overview-details">
            <p><b>CrawlFish</b> is an online shopping comparison website which enables the customer to find, learn, compare prices of products and discover best deals from online and local retailers across India and assists customer in making an well-informed purchase decision.</p>
            <p>
            	Why the name <b>CrawlFish</b>?
            <ul class="cf-aboutus-overview-details-ul">
            <li>A crawler is a computer program that browses the world wide web in a methodical, automated manner or in an orderly fashion.</li>
            	<br/>
            	<li>Fish (v) – to search carefully and catch something.</li>
                            	<br/>
				<li>Likewise, we browse the entire shopping catalog of online and local shops, present the user with comparison price grid and deal details and allow the user to 'fish' out the best product purchase choice.</li>
			</ul>
            </p>
            <p>2011 is the year which saw the meteoric rise of ecommerce in India. 2012 will be an year of expansion and consolidation. In coming years too, this rise will continue and revolutionising forever the way India shops.
	This ecommerce trend has created few problems as well.
	<ul>
    <li>As there are so many online shopping portals, it is difficult for a shopper to visit all such portals and find the best deal.</li>
    <br/>
	<li>Only few shopping portals become popular, whereas, there is a long tail of 'not so popular' shopping portals selling products at a cheaper price than popular shopping portals.</li>
    <br/>
	<li>There is a big market of local retailers which plays a second fiddle to market of online shopping portals. There is no level playing field for local retailers to compete with online shopping portals. </li>
    </ul>
</p>
            </div>
