<div class="cf-faq-overview">
            		<h2>CrawlFish 101</h2>
            		</div>
            	<div class="cf-faq-details">
                	<div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                	Can I buy products on CrawlFish?
        	            </div>
            	        <div class="cf-faq-answer">
                	    	You cannot buy directly from CrawlFish. CrawlFish puts you in touch with sellers by directing you to their websites, displaying their customer service phone numbers and providing their physical store locations to help you buy the products directly from sellers.
                    	</div>
                    </div>
                    
                    <div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                	Which sellers list products on CrawlFish today?
        	            </div>
            	        <div class="cf-faq-answer">
                	    	Currently, hundreds of online and offline Indian sellers their products on CrawlFish. We add more sellers and selection every day so that customers can find anything using our service.
                    	</div>
                    </div>

                    <div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                	What products will I find on CrawlFish?
        	            </div>
            	        <div class="cf-faq-answer">
                	    	At launch, you can shop more than 11000 products on CrawlFish; the selection includes more than 10000 books, and 500 products from more than 100 Indian and global brands. CrawlFish features 2 categories including mobile phones, books.
                    	</div>
                    </div>
                    
                    <div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                	Why is CrawlFish in "Beta"?
        	            </div>
            	        <div class="cf-faq-answer">
                	    	CrawlFish is a new online product comparison site with several first-of-a-kind features such as inline seller store locator for sellers in India and one-stop access to selection from Indian and international sellers. As we fine-tune this service, we will operate in Beta mode, continuously evolving CrawlFish by listening to customers and sellers, and innovating to meet their needs. Visit us frequently to review our latest features and selection and to offer your feedback.
                    	</div>
                    </div>
                    
                    <div class="cf-faq-qa">
	                	<div class="cf-faq-question">
    	                	How to search for a product in CrawlFish?
        	            </div>
            	        <div class="cf-faq-answer-img">
                	    	<img src="101.png" alt="CrawlFish 101" title="CrawlFish 101"/>
                    	</div>
                    </div>
                    
                </div>
