@charset "utf-8";
/* CSS Document */

html,body{
	margin:0;
	padding:0;
	background:none repeat scroll 0 0 #FFF;
	font-size:12px;
	font-family:arial,tahoma,verdana,sans-serif;
	/*font-family: 'Open Sans', sans-serif;*/
	font-weight:normal;
	color:#000;
	border:none;
	height:100%;
}

table,tr,td,span,a,div,h2,th,ul,li,p,ol,select{
	font-family: arial,tahoma,verdana,sans-serif;
}

img{
	border:0;
	outline:none;
}

a,:focus{
	outline:none;
}

.cf-faq-content{
	width: 100%;
	margin:0 auto;
	height:auto!important;
	min-height:100%;
	position:relative;
}

.cf-faq-header{
	height:50px;	
	background: none repeat scroll 0 0 #F4F5F6;
   	border-bottom: 0px solid #CCC;
	margin-top:-12px;
}

.cf-faq-header-logo{
	width: 960px;
	margin:0 auto;
	float:left;
}

.imgLogo img{
	width:160px;
	height:40px;
	padding-left:15px;
	padding-right:15px;
	margin-top:3px;
	border-right:1px solid #CCC;
}

.imgTag img{
	width:200px;
	height:23px;
	padding-left:5px;
}

.cf-general-header-links-ul{
	margin-right:0px;
	list-style:none;
}

.cf-general-header-links-ul li{
	float:right;
	padding-top:15px;	
}

.cf-general-header-links-ul a{	
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	margin-right:10px;
	color:#06C;
	font-size:13px;	
	padding-top:5px;
}

.cf-general-header-links-ul a:visited{
	color:#06C;
}

.cf-general-header-links-ul a:hover{
	color:#06F;
	text-decoration:underline;
}

.cf-general-header-links-ul a#cf-a-general-buy{
	width:100px;
}

.cf-general-header-links-ul a#cf-a-general-home{
	width:60px;
}

.cf-faq-content-wrapper{
	width: 960px;
	margin:0 auto;
	padding-top:30px;
	padding-bottom:10px;
}

.cf-faq-left-sidebar{
	float:left;
	width:180px;
	font-size:14px;
	border:0px solid #CCC;
	color:#000;
}
.cf-faq-left-sidebar-ul{
	list-style:none;
}

ul.cf-faq-left-sidebar-ul a{
	text-align:left;
	display:block;
	width:auto;
	height:30px;
	font-size:13px;
	border-bottom: 1px solid #DDD;
	padding-left:10px;
	padding-top:8px;
	text-decoration:none;
}

ul.cf-faq-left-sidebar-ul a:visited{
	color:#06F;	
}

ul.cf-faq-left-sidebar-ul a:hover{
	color:#06C;
	background: none repeat scroll 0 0 #F5F5F5;
	text-decoration:underline;
}

.cf-faq-main-content{
	border:0px solid #CCC;
	float:left;
	width:750px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:70px;
}
.cf-faq-overview h2{
	font-size:15px;
	font-weight:bold;
	border-left:5px solid #C42525;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:2px;	
	background:none repeat scroll 0 0 #F5F5F5;
}

.cf-faq-details{
	padding-top:10px;	
}

.cf-faq-qa{
	padding-bottom:20px;	
}
.cf-faq-question{
	font-weight:bold;
	font-size:13px;
	padding-bottom:5px;
	border-bottom:1px solid #CCC;
	text-align:justify;
}

.cf-faq-answer{
	padding-top:10px;
	font-weight:normal;
	font-size:12px;
	line-height:25px;	
	text-align:justify;
}

.cf-faq-answer-img{
	padding-top:10px;
	line-height:25px;	
	text-align:center;
}

.cf-faq-answer-img img{
	width:600px;
	height:300px;
	text-align:center;
}

.clear{
	clear:both;
	padding-top:20px;	
}

.cf-faq-footer{
	border-top:1px solid #CCC;
	position:absolute;
	width:100%;
	left:0;
	bottom:0;
	height:30px;
	background: none repeat scroll 0 0 #F2F2FF;
   	border-top:2px solid #DADADA;
}

.cf-faq-footer-content{
	text-align:center;
	padding-top:5px;
	color:#000;
}

.cf-faq-footer-content a{
	text-decoration:none;
	text-align:center;
	font-weight:normal;
	height:30px;
	margin-right:2px;
	margin-left:3px;
	color:#06C;
	font-size:13px;
	padding-left:10px;
}

.cf-faq-footer-content a:visited{
	color:#06C;
}

.cf-faq-footer-content a:hover{
	color:#06C;
	background: none;
	text-decoration:underline;
}

