@charset "utf-8";
/* CSS Document */

html,body{
	margin:0;
	padding:0;
	background:none repeat scroll 0 0 #FFF;
	font-family:arial,tahoma,verdana,sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#000;
	border:none;
	height:100%;
}

img{
	border:0;
	outline:none;
}

a,:focus{
	outline:none;
}

.cf-home-wrapper{
	width: 100%;
	margin:0 auto;
	height:auto!important;
	min-height:100%;
	position:relative;
}

.cf-home-header{
	left:0px;
	top:0px;
	height:50px;
	border-top:1px solid #000;
}

ul.cf-home-header-links{
	margin-top:0px;
	padding-left:0px;
	margin-left:50px;
	list-style:none;
}

ul.cf-home-header-links li{
	float:left;	
}

ul.cf-home-header-links a{
	display:block;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
        border: 1px solid #CCC;
	border-top:0px solid #FFF;
	background: none repeat scroll 0 0 #333;
	height:25px;
	margin-right:10px;
	color:#FFF;
	font-size:13px;	
	padding-top:5px;
}

ul.cf-home-header-links a:visited{
	color:#FFF;
}

ul.cf-home-header-links a:hover{
	color:#FFF;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background: none repeat scroll 0 0 #444;
}

ul.cf-home-header-links a#cf-a-your-worth{
	width:100px;
}

ul.cf-home-header-links a#cf-a-general{
	width:100px;
}

ul.cf-home-header-links a#cf-a-crawlfish-home{
	width:100px;
}

#cf-a-your-worth{
	color:#FFF;
	background: none repeat scroll 0 0 #C42525;
}

#cf-a-your-worth:visited{
	color:#FFF;
}

#cf-a-your-worth:hover{
	color:#FFF;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background: none repeat scroll 0 0 #D42525;
}

#cf-a-crawlfish-home{
	color:#FFF;
	background: none repeat scroll 0 0 #C42525;
}

#cf-a-crawlfish-home:visited{
	color:#FFF;
}

#cf-a-crawlfish-home:hover{
	color:#FFF;
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
	 -moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	background: none repeat scroll 0 0 #D42525;
}

.cf-home-search{
	background: none repeat scroll 0 0 #FFF;
	margin: 0 auto;
    	width: 960px;
	padding-top:30px;
}

.cf-home-logo{
	text-align:center;
}

.cf-home-logo img#imgLogo{
	width:350px;
	border:0px;
	outline:none;
}

.cf-home-search-form{
	text-align:center;
	height:30px;
	padding-top:5px;
}

#cf-home-search-form-searchText{
	border: 1px solid #CCC;
	font-size: 13px;
	height: 20px;
	padding: 4px 20px 4px 8px;
	width: 400px;
	outline:none;
	font-family:arial,tahoma,verdana,sans-serif;
}

.price-search-category-select{
	height: 30px;
	border: 1px solid #CCC;
	font-size: 13px;
	outline:none;
	font-family:arial,tahoma,verdana,sans-serif;
	color:#000; 
	background:transparent;
	font-weight:normal; 
	width:110px;
	-webkit-appearance: none;
}

#psc-select-id{
	overflow:hidden; 
	width:110px;
	background: url(../Images/down_arrow_select.jpg) no-repeat scroll 76px 0px #FFF; 
}

@-moz-document url-prefix(){
#psc-select-id{
	overflow:hidden; 
	width:110px;
	background:none repeat scroll 66px 0px #FFF;
}
}

.tagline-text{
	font-family: verdana, sans-serif;
	font-weight:bold;
	font-size:13.5px;
	padding-top:25px;
	padding-bottom:15px;
	color:#333;
}

#cf-price-search-form-searchText{
	border: 1px solid #CCC;
	font-size: 13px;
	height: 20px;
	padding: 4px 20px 4px 8px;
	width: 300px;
	outline:none;
	font-family:arial,tahoma,verdana,sans-serif;
}

#cf-price-search-form-searchCompare{
	border: 0px solid #999;
	cursor: pointer;
	height: 30px;
	width:85px;
	background-image:url(../Images/CF_SearchButtonPng_v04.png);
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
}

#cf-home-search-form-searchCompare {
	border: 0px solid #999;
	cursor: pointer;
	height: 30px;
	width:85px;
	background-image:url(../Images/CF_SearchButtonPng_v04.png);
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
}

.cf-home-search-form table{
	border-collapse:collapse;
	padding:4px;
	border:0;
	margin-left:auto;
	margin-right:auto;
}

.cf-home-tagline-logo{
	text-align:center;
}

.cf-home-tagline-logo img#imgTagLine{
	width:250px;
	border:0px;
	padding-top:10px;
}

.cf-home-interactive-text{
	padding-top:15px;
	padding-bottom:15px;
	color:#333;
	margin:0 auto;
	width:500px;
	font-family: verdana, sans-serif;
	font-weight:bold;
	font-size:13.5px;
}

#flash_notice{
	position:fixed;
	text-align:center;
	width:500px;
}

.clear{
	clear:both;
}

.cf-home-footer{
	height:33px;
	background: none repeat scroll 0 0 #F2F2FF;
	width:100%;
	left:0;
	bottom:0;
	position:absolute;
	border-top:2px solid #DADADA;
}

.cf-home-footer-content{
	text-align:center;
	padding-top:6px;

}

.cf-home-footer-content a{
	text-decoration:none;
	text-align:center;
	height:30px;
	margin-right:5px;
	margin-left:5px;
	color:#06C;
	font-size:13px;	
	padding-right:5px;
}

.cf-home-footer-content a:visited{
	color:#06C;
}

.cf-home-footer-content a:hover{
	color:#06C;
	background: none repeat scroll 0 0 #F2F2FF;
	text-decoration:underline
}

.gritter-title {
        font-size:13.5px;
	color:#FFF;
        font-weight:bold;
        padding:0 0 7px 0;
	text-shadow:none !important;
}

.gritter-item{
	color: #FFF;
	font-size: 12px;
	font-family:verdana;
}

 
.gritter-close {
        position:absolute;
        top:5px;
        right:3px;
        background:url(../images/gritter-close.png);
        cursor:pointer;
        width:30px;
        height:30px;
}

