<div class="cf-merchant-content-signin">
<div class="cf-merchant-error-message-wrapper">
	<div class="cf-merchant-error-message">

	<div class="cf-merchant-error-header">
	
	<div class="cf-merchant-error-header-text">
		Error!
	</div>

	</div>
	<div class="cf-merchant-error-message-content">
		<%= @message %>
	</div>
	</div>
</div>
</div>



