<h2> 404</h2>
<div>
  <h3> We're sorry</h3>
  <p>
    The content that you requested could not be found.
  
    You tried to access <% @not_found_path %>, which is not a valid page.
 
    Want to
    go back to our home page
    and try again?
</p>
