<div id="TabbedPanels2" class="TabbedPanels">
<ul class="TabbedPanelsTabGroup">

<li class="TabbedPanelsTab" tabindex="0">

	<span class="cf-specific-product-details-header-headings">Specification</span>

</li>

<li class="TabbedPanelsTab" tabindex="0">
	
	<span class="cf-specific-product-details-header-headings">Reviews</span>

</li>

<li class="TabbedPanelsTab" tabindex="0">

	<span class="cf-specific-product-details-header-headings">More</span>

</li>

</ul>

<div class="TabbedPanelsContentGroup">
<div class="TabbedPanelsContent">
	<div class="cf-specific-product-details-header-specs">
		<%= render ('specification') %>
	</div>
<!-- end TabbedPanelsContent --> </div>

<div class="TabbedPanelsContent">
	<div class="cf-specific-product-details-header-reviews">
		<%= render ('reviews') %>
	</div>
<!-- end TabbedPanelsContent -->  </div>

<% if @sub_category_name == "books_lists" %>
<div class="TabbedPanelsContent">
	<div id="cf-specific-product-more">
		<%= render ('more') %>
	<!-- end cf-specific-product-more --></div>
<% end %>

<% if @sub_category_name == "mobiles_lists" %>
<div class="TabbedPanelsContent">
	<div id="cf-specific-product-more">
		<%= render ('more') %>
	<!-- end cf-specific-product-more --></div>
<% end %>
<!-- end TabbedPanelsContent -->  </div>
<!-- end TabbedPanelsContentGroup --> </div>
<!-- end TabbedPanels --> </div>

