<div class="cf-specific-product-details-header-reviews-text">
The Samsung Galaxy Ace is an Android v2.3 Gingerbread smartphone featuring a 3.5 inch capactive touchscreen. The Ace S5830 is powered by a 800 MHz ARM11 processor, with an additional Adreno 200 GPU for handling graphic intensive apps.

The Samsung Galaxy Ace sports a 5 MP camera with LED Flash and a 2x Digital Zoom capable lens.

Design

The Ace S5830 sports a minimalist design featuring clean square trims with smooth rounded edges. The Samsung Galaxy S5830 comes with a 3.5 inches TFT HVGA LCD screen that renders vivid color & contrast ratios even in bright sunlight.

The Galaxy Ace S5830 features an accelerometer for UI auto-rotate and a proximity sensor for auto-turn off. The physical buttons on the Galaxy Ace smartphone include the volume rockers, power button and the touch sensitive Android buttons.

Storage & Battery

The Samsung 3G phone is powered by a 1350 mAh battery that lasts for 11 hrs on 2G and 6.5 hrs on 3G networks. The Galaxy Ace comes with 158 MB of internal memory which can be expanded up to 32 GB via microSD card.

Connectivity & Features

The Samsung Ace S5830 supports 3G HSDPA connectivity at 7.2 mbps, WiFi, USB and Kies PC Sync data transfer options. This Android phone lets you stay connected via multiple mobile social networking platforms including Facebook, Twitter, Gtalk and Myspace. This Samsung 3G phone is preloaded with business suite tools like Thinkfree Document viewer, Voice memo and voice mail.

This 3G phone is preloaded with Android Web Browser and offers pinch-to-zoom support. Other features on the Galaxy Ace include multi format Music player with DNSe sound enhancement and 3.5 mm jack, multi-format video player, and access to over 100,000 apps on the Android Market. The Samsung Android phone supports A-GPS navigation, Digital Compass and location based services with access to Google applications like Google Maps. Samsung's TouchWiz UI retains much of the stock Android features albeit with few welcome tinkering to the menu navigation and social networking access.

The Galaxy Ace S5830 offers one swype access to social networking streams including Facebook, Myspace & Twitter. The phone even integrates your social networking buddies into your phonebook and calendar giving you real time social streams. 
</div>

<div class="cf-specific-product-details-header-reviews-link">
	For detailed specification for this mobile, visit <a href="http://www.gsmarena.com">GSMArena</a>
</div>
