<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>CrawlFish - Generic Search page</title>
<link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico">
<link href="/Stylesheets/merchantdashboard.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="cf-merchant-content">

	<div class="cf-merchant-header">
		<%=render 'merchants/header'%>
	<!-- end cf-merchant-header --></div>

	<div class="cf-merchant-content-wrapper">

		<div class="cf-merchant-success-complete">
			<div class="cf-merchant-success-text">Thanks for submitting request with CrawlFish. We will send your password to your registered Email ID after verification.For further queries, contact us at <b>business[at]thecrawlfish[dot]com</b></div>
			<div style="padding-top:10px;padding-left:5px;padding-right:10px;float:left"><%= link_to "HOME", root_url %></div>
			<div style="padding-top:10px;padding-left:5px;padding-right:10px;float:left"><%= link_to "SIGN IN", {:action => "home", :controller => "merchants"} %></div>
			<div style="clear:both"></div>
		</div>



	<!-- end cf-merchant-content-wrapper --></div>
	<div class="clear-footer"></div>
	<div class="cf-merchant-footer">
    		<div class="cf-merchant-footer-content">
			<%= render 'shared/footer' %>
        	</div>
     	<!-- end cf-merchant-footer --></div>

<!-- end cf-merchant-content --></div>
</body>
</html>

