<div id="TabbedPanels2" class="TabbedPanels">

<ul class="TabbedPanelsTabGroup">
	<li class="TabbedPanelsTab" tabindex="0"><span class="local-shop-tab-header">Deals</span></li>
	<li class="TabbedPanelsTab" tabindex="0"><span class="local-shop-tab-header">Coupons</span></li>
</ul>

<div class="TabbedPanelsContentGroup">

	<div class="TabbedPanelsContent">
		<div class="cf-local-shop-deals-details">
			There are no deals available from this shop today!
		</div>
	
	<!-- end TabbedPanelsContent --></div>

	<div class="TabbedPanelsContent">
		<div class="cf-local-shop-coupons-details">
			There are no coupons available from this shop today!
		</div>	
		
	<!-- end TabbedPanelsContent --></div>
<!-- end TabbedPanelsContentGroup --></div>
<!-- end TabbedPanels --></div>

