<span class="gmap-notice-message">Showing map for <b><%=@vendor_name%></b> in <b><%= @branch_name %></b></span>
<div class="cf-lsmc-details-gmap-img">
<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@latitude_longitude}&zoom=16&size=590x500&scale=1&markers=size:mid|color:red|#{@latitude_longitude}&maptype=roadmap&sensor=true" %>
</div>
